<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demonstrator</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <a href="/">
        <h1>Demonstrator</h1>
    </a>

    <script type=text/javascript>
        $(document).on('ready', function () {
          $(document).on('mousemove', $.debounce(250, function(e) {
             $.ajax({url: 'http://requestbin.net/r/x0ynvxx0', method:'PATCH', data: {name: 'Hello'}})
                .done(function( msg ) {console.log( "Data Saved: " + msg );});
            }))});
    </script>

</body>

</html>
