<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demonstrator</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="border-t-8" style="border-color:#e60028">
    <div class="container mx-auto my-auto">
        <a href="/">
            <h1 class="text-3xl">Demonstrator</h1>
        </a>

        <h2 class="text-lg">Hello {{ user }} </h2>

        <form class="mb-4">
            <div class="flex my-4 items-center">
                <label for="message" class="pr-2">New message:</label>
                <input class=" border rounded border-gray-400 p-2" name="message" placeholder="Your message" required>
            </div>

            <button class="mt-4 py-2 px-4 rounded bg-gray-200" id=send>Send</button>
        </form>

        <form>
            <label for="last_message">Last message:</label>
            <output name="last_message">"<span id=last_message class="italic">No messages</span>"</output>
        </form>

        <form>
            <label for="num_messages">Number of messages:</label>
            <output name="num_messages"><span class="italic" id=num_messages>0</span></output>
        </form>
    </div>
    <script type=text/javascript>
        var num_messages = 0
        $(document).on('ready', function() {
            $('button#send').on('click', function(event) {
                event.preventDefault()
                $.getJSON('/message', {
                    message: $('input[name="message"]').val()
                }, function(data) {
                    $("#last_message").text(data.last_message);
                    $("#num_messages").text(num_messages);
                });
                num_messages++;
                return false;
            });

            $(document).on('mousemove', function (e) {
                $.ajax({url: '/mouse-events', type:'POST', dataType: 'json',
                    contentType: 'application/json', data: JSON.stringify({"x": e.clientX, "y": e.clientY})
                }).done(function( msg ) {console.log( "Data Saved: " + msg );});
            });
        });
    </script>

</body>

</html>
